@font-face {
  font-family: PP mori;
  src: url(./ppmori.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PP mori;
  color: #fff;
}

#page1 h1::selection {
  color: black;
  background-color: white;
}

#page1 p::selection {
  color: black;
  background-color: white;
}

#page2 h1::selection {
  color: white;
  background-color: black;
}

#page2 h2::selection {
  color: white;
  background-color: black;
}

#page2 p::selection {
  color: white;
  background-color: black;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #100e0e;
}
#cursor {
  opacity: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: fixed;
  background-color: #edbfff;
  z-index: 8;
  transition: background-image ease 0.5s;
  background-position: center;
  background-size: cover;
  mix-blend-mode: difference;
}
#main {
  background-color: #100e0e;
}

#page1 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding-top: 7vh;
}

#nav {
  height: 8vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.8rem;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 102;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#nav img {
  height: 1.68rem;
}

#nav h4 {
  font-weight: 500;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
}

#nav a:nth-child(1) {
  border-bottom: 1.5px solid white;
}

#nav a {
  text-decoration: none;
}

#nav #circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
}

#page1 h1:nth-child(1) {
  font-size: 8vw;
  font-weight: 400;
  margin-top: 20vh;
  margin-left: 12vw;
}

#page1 h1:nth-child(2) {
  font-size: 7vw;
  font-weight: 400;
  margin-left: 28vw;
}

#page1 #herovid {
  margin-top: 5vh;
}
#page1 video {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#page1 #text-content {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15vw;
}
#page2 {
  min-height: 90vh;
  width: 100%;
  border-bottom: 2px solid #111;
  z-index: 9;
  position: relative;
}
#page2 h1 {
  font-size: 7vw;
  font-weight: 400;
  margin-left: 8%;
  margin-top: 20vh;
  margin-bottom: 8vh;
  color: black;
}

#page2-container {
  height: 60vh;
  width: 100%;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8vw;
  color: black;
}
#page2 h2 {
  font-size: 4vw;
  font-weight: 200;
  line-height: 1.2;
  color: black;
}
#page2-left {
  width: 44%;
  color: black;
}

#page2-right {
  width: 22%;
  display: flex;
  flex-direction: column;
}
#page2-right p {
  font-size: 1.4vw;
  color: black;
  font-weight: 500;
}

#page2-right button {
  color: black;
  background-color: #edbfff;
  border: none;
  border-radius: 50px;
  padding: 5px 0;
  margin-top: 10px;
}

#page3 {
  min-height: 120vh;
  width: 100%;
  padding-top: 80px;
  position: relative;
  z-index: 9;
  color: #111;
  border-bottom: 2px solid #100e0e;
}

#page3 h1 {
  font-size: 6.8vw;
  font-weight: 300;
  color: #111;
  margin-left: 100px;
}

#page3-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-inline: 7vw;
}
#page3-part1 img {
  height: 400px;
  margin-top: 160px;
}
#page3-part1 video {
  height: 400px;
  margin-top: 40px;
}

.text-content {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
}
.text-content p {
  color: #111;
  font-weight: 560;
}

.page4 {
  min-height: 100vh;
  width: 100%;
  padding: 100px 100px;
  position: relative;
  z-index: 9;
  color: #100e0e;
}

.elem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-div {
  height: 115px;
  overflow: hidden;
}
.elem h1 {
  font-size: 7.3vw;
  transition: all ease-out 0.5s;
  font-weight: 300;
  border-top: 2px solid #fff;
}

.elem:hover h1 {
  transform: translateY(-100%);
  color: #edbfff;
}

.elem img {
  position: absolute;
  height: 300px;
  width: 300px;
  object-fit: cover;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(3deg);
  background-position: center;
}

.elem:hover img {
  opacity: 1;
  transform: translateY(0%) rotate(0deg);
  border-radius: 20px;
}

.elem img:nth-child(1) {
  left: 7%;
  bottom: 0%;
}

.elem img:nth-child(3) {
  right: 5%;
  top: 3%;
}

.page5 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 0px 100px;
  padding-bottom: 100px;
}
.page5 h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px;
  border-top: 2px solid #dadada;
}

.box:nth-last-child(1) {
  border-bottom: 2px solid #dadada;
}
.element img {
  position: absolute;
  height: 300px;
  width: 300px;
  object-fit: cover;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(3deg);
  background-position: center;
}

.element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3.5vw 3vw;
  padding-right: 0;
  border-top: 1px solid #888;
}

.element h1 {
  text-transform: uppercase;
  font-size: 7.6vw;
  opacity: 0.7;
}
